flow.json
[
    {
        "id": "95706cf99c05862b",
        "type": "tab",
        "label": "Light control flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "31d32accc147f020",
        "type": "mqtt in",
        "z": "95706cf99c05862b",
        "name": "",
        "topic": "/lightcontrol",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 230,
        "y": 280,
        "wires": [
            [
                "2f472b1e970888c6"
            ]
        ]
    },
    {
        "id": "2f472b1e970888c6",
        "type": "function",
        "z": "95706cf99c05862b",
        "name": "update count people",
        "func": "// Get the current value of the flow variable\nlet currentValue = flow.get('myVar') || 0;\n\n// Add the received value (assumes msg.payload is either 1 or -1)\ncurrentValue += msg.payload;\n\n\n// Set the updated value in msg.payload for further processing\nif(currentValue < 0){\n    currentValue = 0;\n}\n\n// Store the updated value back in the flow variable\nflow.set('myVar', currentValue);\n\nmsg.payload = currentValue;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 280,
        "wires": [
            [
                "83113ee5ed4e07d5",
                "dc6d03ae30251515"
            ]
        ]
    },
    {
        "id": "83113ee5ed4e07d5",
        "type": "debug",
        "z": "95706cf99c05862b",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "dc6d03ae30251515",
        "type": "function",
        "z": "95706cf99c05862b",
        "name": "Act on Variable",
        "func": "// Act based on the updated variable\nif (msg.payload > 0) {\n    // Do something if the variable is greater than 0\n    node.send([{payload: 'Variable is positive'}, null]);\n} else if (msg.payload == 0) {\n    // Do something if the variable is less than 0\n    node.send([null, {payload: 'Variable is zero'}]);\n} else {\n    // Do something if the variable is zero\n    node.send([null, null]);\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 380,
        "wires": [
            [
                "90b9c2dfec0fdffa"
            ],
            [
                "0a9373b2f34ff16f"
            ]
        ]
    },
    {
        "id": "90b9c2dfec0fdffa",
        "type": "tapo_new_actions",
        "z": "95706cf99c05862b",
        "name": "Turn on",
        "deviceIp": "10.3.115.177",
        "deviceAlias": "",
        "deviceIpRange": "",
        "searchMode": "ip",
        "command": "on",
        "version": "2",
        "x": 960,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "0a9373b2f34ff16f",
        "type": "tapo_new_actions",
        "z": "95706cf99c05862b",
        "name": "Turn off",
        "deviceIp": "10.3.115.177",
        "deviceAlias": "",
        "deviceIpRange": "",
        "searchMode": "ip",
        "command": "off",
        "version": "2",
        "x": 960,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Local Mosquitto Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]